#side{
    width: 6%;
    min-height: 100vh;
    /* border: 1px solid red; */
    background-color: #212121;

}

.dee{
    width: 30px;
    height: 30px;
   color: white;
}

#side div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tex{
    color: white;
    text-align: center;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

#upp{
    margin-bottom: 30px;
}

#side div:hover,#side span:hover {
    cursor: pointer;
   
}

